
table {
	border: 0px solid;
	font-family: "Google Sans",Roboto,Arial,sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

th{
	background-color: antiquewhite;
	padding: 5px;
}

td{
	background-color: rgb(220, 246, 240);
	padding: 0px;
    height: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
	color: rgb(105, 105, 105);
}


tr:nth-child(4n + 4) td,
tr:nth-child(4n + 5) td  {
    background-color:rgb(238, 245, 243)
}

.td-houres {
	font-size: 15px;
	padding-right: 5px;
	padding-bottom: 1px;
	background-color:white;
}

.tr-houres {
	background-color: white;
}

.tr-houres:nth-child(4n + 4) td  {
    background-color:white
}
.tr-houres:nth-child(4n + 5) td  {
    background-color:white
}
