
table {
	border: 0px solid;
	font-family: "Google Sans",Roboto,Arial,sans-serif;
	font-size: 13px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

th{
	background-color: antiquewhite;
	padding: 5px;
}

td{
	background-color: white;
	padding: 0px;
    width: 800px;
    height: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
	color: rgb(105, 105, 105);
}

td:nth-child(1) {
	background-color: white;
	text-align: right;
}

tr:nth-child(4n + 3) td,
tr:nth-child(4n + 4) td  {
    border-bottom: 3px;
}

.houres {
	font-size: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
}